* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #060817;
    background-image: url("../assets/assets/images/background.jpg");
    background-size: 100% 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator {
    width: 150px;
}